<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="_csrf" th:if="${_csrf != null}" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:if="${_csrf != null}" th:content="${_csrf.headerName}"/>

    <meta name="show-button-caption" th:content="#{show-button-caption}"/>
    <meta name="delete-button-caption" th:content="#{delete-button-caption}"/>

    <title>List of all Books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }

        .trComment {
            background-color: lightgray;
        }

        h3 {
            padding: 2px;
            padding-left: 30px;
        }

    </style>

    <style type="text/css" th:inline="text">
        [[h3]] {
            padding: 2px;
            padding-left: 30px;
        }

    </style>
</head>
<body>

<div style="text-align: right">
    <b th:text="#{lang-switcher-header}">Select language</b>:
    <a href="#" th:href="@{''(lang=en)}" th:text="#{en-lang-switch-button-caption}">Language - EN</a>
    |
    <a href="#" th:href="@{''(lang=ru)}" th:text="#{ru-lang-switch-button-caption}">Language - RU</a>
    |
    <a href="/logout" th:href="@{/logout}">
        <button type="button" th:text="#{logout-button-caption}">выход</button>
    </a>
</div>

<h3 th:text="#{books-table-header}">Books:</h3>


<table class="books">
    <thead>
    <tr>
        <th th:text="#{field-id}">ID</th>
        <th th:text="#{book-field-title}">title</th>
        <th th:text="#{book-field-author}">author</th>
        <th th:text="#{book-field-genres}">genres</th>
        <th th:text="#{book-show-header}">Action</th>
        <th th:text="#{delete-button-caption}">Action</th>
        <th th:text="#{book-field-comments}">Action</th>
    </tr>
    </thead>

    <tbody id="tbody-books"/>

</table>

<div><a href="editbook.html"  th:href="@{/books/new}" th:text="#{add-button-caption}">Add</a></div>

<script>

    window.onload = function () {
        loadBooks();
    };


    function loadBooks() {
        const containerElement = document.getElementById("tbody-books");
        fetch("/api/book")
            .then(response => response.json())
            .then(jsonData  => {
                console.log(jsonData);
                renderBooksJSONToTable(jsonData, containerElement);
            });
    }


    function renderBooksJSONToTable(jsonData, containerElement) {
        jsonData.forEach((item) => {
            console.log(item);
            renderBookTableTd(item, containerElement);
        });
    }


    function renderBookTableTd(item, containerElement) {

        const showButtonCaption = document.querySelector('meta[name="show-button-caption"]').getAttribute('content');
        const deleteButtonCaption = document.querySelector('meta[name="delete-button-caption"]').getAttribute('content');

        let tr = document.createElement("tr");

        let td = document.createElement("td");
        td.innerText = item.id;
        tr.appendChild(td);

        td = document.createElement("td");
        td.innerText = item.title;
        tr.appendChild(td);

        td = document.createElement("td");
        td.innerText = item.author.fullName;
        tr.appendChild(td);

        td = document.createElement("td");
        let ul = document.createElement("ul");
        item.genres.forEach((genreItem) => {
            let li = document.createElement("li");
            li.innerText = genreItem.name;
            ul.appendChild(li);
        });
        td.appendChild(ul);
        tr.appendChild(td);

        td = document.createElement("td");
        let showA = document.createElement("a");
        let showButton = document.createElement('button');
        showButton.innerHTML = showButtonCaption;
        showA.appendChild(showButton);
        showA.href = "/books/"+item.id;
        td.appendChild(showA);
        tr.appendChild(td);

        td = document.createElement("td");
        let deleteButton = document.createElement('button');
        deleteButton.innerHTML = deleteButtonCaption;
        let deleteClickHandler = function () {
            console.log('Click just happened' + item.id);
            deleteBook(item.id, tr);
        }
        deleteButton.addEventListener('click', deleteClickHandler)
        td.appendChild(deleteButton);
        tr.appendChild(td);

        td = document.createElement("td");
        let commentButton = document.createElement('button');
        commentButton.innerHTML = showButtonCaption;
        commentButton.classList.add('show');
        let commentClickHandler = function () {
            console.log('Click just happened' + item.id);
            loadComments(item.id, td, commentButton);
        }
        commentButton.addEventListener('click', commentClickHandler)
        td.appendChild(commentButton);
        tr.appendChild(td);

        containerElement.appendChild(tr);
    }


    function loadComments(bookId, td, button) {
        console.log(bookId);
        console.log(td);
        console.log();

        if(button.classList.contains("show")) {
            fetch("/api/comment?bookId="+bookId)
                .then(response => response.json())
                .then(jsonData => {
                    console.log(jsonData);
                    renderCommentTD(jsonData, td);
                    button.classList.remove('show');
                    button.classList.add('hide');
                    button.innerHTML = 'Hide';
                });
        } else if(button.classList.contains("hide")) {
            removeCommentTD(td);
            button.classList.remove('hide');
            button.classList.add('show');
            button.innerHTML = 'Show';
        }
    }


    function removeCommentTD(td) {
        td.nextElementSibling.remove();
    }


    function renderCommentTD(jsonData, td) {
        let tdComment = document.createElement("tdComment");
        let tableComment = document.createElement("table");
        jsonData.forEach((item) => {
            let trComment = document.createElement("tr");
            let tdId = document.createElement("td");
            tdId.innerText = item.id;
            trComment.appendChild(tdId);
            let tdText = document.createElement("td");
            tdText.innerText = item.commentText;
            trComment.appendChild(tdText);
            tableComment.appendChild(trComment);
        });
        tdComment.appendChild(tableComment);
        td.parentNode.insertBefore(tdComment, td.nextSibling);
    }


    function deleteBook(bookId, tr) {
        console.log(bookId);
        console.log(tr);

        const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

        fetch("/api/book/"+bookId, {
            method: 'DELETE',
            headers: {
                [csrfHeader]: csrfToken
            }
        })
        .then(response => {
            console.log(response);
            if(response.status == "403") {
                alert("forbidden!");
            }
            else {
                tr.remove();
            }
        })
        .catch(err => {
            console.error(err);
        });
    }

</script>
</body>
</html>
